# Please Update the contents of this file.

#General ignores

#Sensitive environment variables
.env
.DS_Store
Thumbs.db


#Python / Django

Byte-code files
pycache/
*.py[cod]

#Virtual environment
myenv/
venv/
env/

#Django-specific files
db.sqlite3
media/
static/
.env

#Pip dependencies
requirements.txt


#Node.js / React

#Dependencies
/frontend/node_modules/
/frontend/dist/
/frontend/build/

#Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*