image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_TLS_CERTDIR: ""
  COMPOSE_PROJECT_NAME: ci_pipeline_build

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" "$CI_REGISTRY"

stages:
  - build
  - deploy

# -------------------------
#   BUILD USING COMPOSE
# -------------------------
build_images:
  stage: build
  script:
    - docker compose build  
    - docker compose push     
  rules:
    - when: always
  only:
    - main

# -------------------------
#   DEPLOY
# -------------------------
deploy_production:
  stage: deploy

  script:
    - |
      ssh -o StrictHostKeyChecking=no "$DEPLOY_USER@$DEPLOY_SERVER_IP" "
        echo 'Logging into registry...'
        docker login -u '$CI_REGISTRY_USER' -p '$CI_REGISTRY_PASSWORD' '$CI_REGISTRY'

        echo 'Pulling latest images...'
        cd $DEPLOY_DIR
        docker compose pull

        echo 'Recreating containers...'
        docker compose up -d --force-recreate

        echo 'Cleaning old images...'
        docker system prune -f
      "
  only:
    - main

  environment:
    name: production
  when: manual
  needs: ["build_images"]
